[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/vim-puppet"]
	path = bundle/vim-puppet
	url = https://github.com/ricciocri/vim-puppet.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown
[submodule "bundle/tcomment_vim"]
	path = bundle/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline 
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "bundle/vim-nerdtree-tabs"]
	path = bundle/vim-nerdtree-tabs
  url = https://github.com/jistr/vim-nerdtree-tabs
[submodule "bundle/vim-colors-gruvbox"]
	path = bundle/vim-colors-gruvbox
  url = https://github.com/morhetz/gruvbox.git
[submodule "bundle/vim-colors-molokai"]
	path = bundle/vim-colors-molokai
  url = https://github.com/tomasr/molokai.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
  url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-addon-mw-utils"]
  path = bundle/vim-addon-mw-utils
  url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/tlib_vim"]
  path = bundle/tlib_vim
  url = https://github.com/tomtom/tlib_vim.git
[submodule "bundle/vim-snipmate"]
  path = bundle/vim-snipmate
  url = https://github.com/garbas/vim-snipmate.git
[submodule "bundle/vim-colors-meta5"]
  path = bundle/vim-colors-meta5
  url = https://github.com/christophermca/meta5.git
[submodule "bundle/vim-colors-bluedrake"]
  path = bundle/vim-colors-bluedrake
  url = https://github.com/michaelmalick/vim-colors-bluedrake.git
[submodule "vim-airline-themes"]
	path = bundle/vim-airline-themes
  url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "bundle/vim-snippets"]
	path = bundle/vim-snippets
  url = https://github.com/honza/vim-snippets.git
[submodule "vim-colors-papercolor"]
	path = bundle/vim-colors-papercolor
	url = https://github.com/NLKNguyen/papercolor-theme.git
